<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Contando Passos</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="icon" th:href="@{/image/trajeto.png}">
</head>
<body class="is-preload">


<div id="wrapper">
    <header id="header">
        <h1><a href="/index">Contando Passos</a></h1>
    </header>

    <div id="main">
        <article class="post">
            <header>
                <div class="title">
                    <h2><a>Editar Cadastro</a></h2>
                </div>
            </header>
            <div>
                <form method="POST" action="/editar/{id}" th:object="${usuarioAtualizacao}">
                    <p>
                        <label for="id">ID </label>
                        <input type="text" class="form-control col-4" id="id" name="id" th:field="*{id}">
                    </p>
                    <p>
                        <label for="nome">Nome </label>
                        <input type="text" class="form-control col-4" id="nome" name="nome" th:field="*{nome}">
                    </p>
                    <p>
                        <label for="dataNascimento">Data de Nascimento </label>
                        <input type="text" class="form-control col-4" id="dataNascimento" name="dataNascimento"
                               th:field="*{dataNascimento}">
                    </p>
                    <p>
                        <label for="cpf">CPF </label>
                        <input type="text" class="form-control col-4" id="cpf" name="cpf" th:field="*{cpf}">
                    </p>
                    <p>
                        <label for="tipoPassagem">Tipo de passagem:</label>
                        <input type="text" class="form-control col-4" id="tipoPassagem" name="tipoPassagem"
                               th:field="*{tipoPassagem}">
                    </p>
                    <!--        <p>-->
                    <!--            <label for="passagens">Tipos de passagem: </label>-->
                    <!--            <input size="50" type="text" class="form-control col-4" id="passagens" name="tiposPassagem">-->
                    <!--        </p>-->

                    <ul class="actions">
                        <li><a href="/index" class="button large">Voltar</a></li>
                    </ul>
                    <ul class="actions" style="margin-left: 86%; margin-top: -7%">
                        <button class="button large" type="submit">Atualizar</button>
                    </ul>
                </form>
            </div>
        </article>
    </div>
</div>
</body>
</html>