<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Contando Passos</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="icon" th:href="@{/image/trajeto.png}">
</head>
<body class="is-preload">


<div id="wrapper">
    <header id="header">
        <h1><a href="/index">Contando Passos</a></h1>
    </header>

    <div id="main">
        <article class="post">
            <header>
                <div class="title">
                    <h2><a>Cadastro</a></h2>
                </div>
            </header>
            <div>
                <form method="POST" action="/cadastrar">
                    <p>
                        <label for="nome">Nome completo</label>
                        <input size="50" type="text" class="form-control col-4" id="nome" name="nome">
                    </p>
                    <p>
                        <label for="dataNascimento">Data de Nascimento </label>
                        <input type="text" class="form-control col-4" id="dataNascimento" name="dataNascimento">
                    </p>
                    <p>
                        <label for="cpf">CPF </label>
                        <input size="50" type="text" class="form-control col-4" id="cpf" name="cpf">
                    </p>

                    <label>Tipo de passagem:</label>
                    <input type="text" name="tipoPassagem" class="form-control col-4"/>


                    <!--                    <table>-->
                    <!--                        <tr>-->
                    <!--                            <td>-->
                    <!--                                <th:block th:each="passagem : ${tipoPassagens}">-->
                    <!--                                    <input type="checkbox" name="tipo" th:value="${passagem}"/>-->
                    <!--                                    <label th:text="${passagem}"></label>-->
                    <!--                                </th:block>-->
                    <!--                            </td>-->
                    <!--                        </tr>-->
                    <!--                    </table>-->
                    <!--                    <ul>-->
                    <!--                        <li th:each="passagem : ${usuario.tiposPassagem}">-->
                    <!--                            <input type="checkbox" th:value="${passagem.id}">-->
                    <!--                            <label th:text="${passagem.tipo}"></label>-->
                    <!--                        </li>-->
                    <!--                    </ul>-->
                </form>
            </div>
            <footer>
                <ul class="actions">
                    <li><a href="/index" class="button large">Voltar</a></li>
                </ul>
                <ul class="actions" style="margin-left: 70%;">
                    <li><a href="/login" class="button large" type="submit">Cadastrar</a></li>
                </ul>
            </footer>
        </article>
    </div>
</div>
</body>
</html>