<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Contando Passos</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="icon" th:href="@{/image/trajeto.png}">
</head>
<body class="is-preload">


<div id="wrapper">
    <header id="header">
        <h1><a href="/index">Contando Passos</a></h1>
    </header>

    <div id="main">
        <article class="post">
            <header>
                <div class="title">
                    <h2><a>Cadastro</a></h2>
                </div>
            </header>
            <div>
                <form method="POST" action="/cadastrar">
                    <p>
                        <label for="nome">Nome Completo</label>
                        <input type="text" class="form-control col-4" id="nome" name="nome"/>
                    </p>
                    <p>
                        <label>Data de Nascimento </label>
                        <input type="text" class="form-control col-4" id="dataNascimento" name="dataNascimento">
                    </p>
                    <p>
                        <label for="cpf">CPF </label>
                        <input type="text" class="form-control col-4" id="cpf" name="cpf">
                    </p>
                    <p>
                        <label for="cpf">Tipos de passagens </label>
                    </p>
                    <div>
                        <input type="checkbox" id="dinheiro" name="tipoPassagem">
                        <label for="dinheiro">Dinheiro</label>
                    </div>
                    <div>
                        <input type="checkbox" id="bilhete" name="tipoPassagem">
                        <label for="bilhete">Bilhete</label>
                    </div>


                    <!--                    <p>-->
                    <!--                        <label for="cpf">Tipos de passagens com iteração do each </label>-->
                    <!--                    </p>-->
                    <!--                    <table>-->
                    <!--                        <tr>-->
                    <!--                            <td>-->
                    <!--                                <th:block th:each="passagem : ${tiposPassagens}">-->
                    <!--                                    <input type="checkbox" th:value="${passagem}" id="passagem"/>-->
                    <!--                                    <label th:text="${passagem}" for="passagem"></label>-->
                    <!--                                </th:block>-->
                    <!--                            </td>-->
                    <!--                        </tr>-->
                    <!--                    </table>-->
                    <p>
                    <ul class="actions">
                        <li><a href="/index" class="button large">Voltar</a></li>
                    </ul>
                    <ul class="actions" style="margin-left: 86%; margin-top: -7%">
                        <button class="button large" type="submit">Cadastrar</button>
                    </ul>
                </form>
            </div>
        </article>
    </div>
</div>
</body>
</html>