<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Contando Passos</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="icon" th:href="@{/image/trajeto.png}">
</head>

<body class="is-preload">
<div id="wrapper">
    <header id="header">
        <h1><a href="/index">Contando Passos</a></h1>
        <nav class="links">
            <ul>
                <li><a href="/usuarios">Perfis Cadastrados</a></li>
            </ul>
        </nav>
    </header>

    <div id="main">
        <form method="POST" action="/cadastro">
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a>Desenvolvimento</a></h2>
                    </div>
                </header>
                <p>O projeto visa orientar os gastos de transporte dos usuários cadastrados na plataforma.</p>
                <footer>
                    <ul class="actions">
                        <li><a class="button large">Cadastre-se</a></li>
                    </ul>
                    <ul class="actions" style="margin-left: 70%;">
                        <li><a href="/login" class="button large">Logar</a></li>
                    </ul>
                </footer>
            </article>
        </form>
    </div>

</div>
</body>
</html>